

/* BOX MODEL HACK */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* clear fix */
.clear:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* General Styles */

body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4;
	background: #000000; /* hexadecimal number */
	padding: 15px;
	font-size: 18px;
	text-align: center;
	color: white;
}



h1 {
	font-size: 32px;
	margin-bottom: 10px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}

h4 {
	margin-top: 0;
	font-weight: normal;
	font-style: italic;
	font-size: 18px;
}


#fortune {
	width:80%;
	margin-left: auto;
	margin-right: auto;
  margin-top: 80px;
}



.btn {
	border-radius: 8px;
  padding: 8px 20px;
  background-color: white;
  border: white;

}

.btn:hover {
	background-color: lightgray;
	border: lightgray;
}

@media (min-width: 600px) {
	h1 {
		font-size: 40px;
	}
	h4 {
		font-size: 22px;
	}

	p {
		font-size: 22px;
	}

  #fortune {    
  	margin:0;
  	width: auto;
    max-width: 600px;	
  	position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
  }
}


